.popover {
  display: inline-block;
  position: absolute;
  background-color: white;
  padding: 2px;
  box-shadow: rgba(0,0,0,0.4) 0 1px 3px;
  background-color: $primary-color;
  @include gradient(lighten($primary-color, 10%), $primary-color);

  border-radius: 4px;
  
  .popover_nipple {
    content: "";
    position: absolute;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: lighten($primary-color, 10%) transparent;
    display: block;
    top: -6px;
  }
  
  .popover_contents {
    display: block;
		border: solid 1px #63686e;
    background-color: #FFF;
    border-radius: 4px;
    margin: 0;
    overflow: hidden;
    padding: 8px;
  }
  
}
  
//-------------------------------------- Popover with action list

.popover {
  ul.popover_contents {
    list-style-type: none;
    padding: 0;
		
    li {
      display: block;
      border-bottom: solid 1px #ebebeb;

      a {
				@include box-sizing(padding-box);
        display: block;
        font-size: 0.95em;
        font-weight: bold;
        padding: 7px 16px 5px;
        text-decoration: none;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        z-index: 0;

        &:hover {
          @include highlight-gradient;
          @include text-shadow(#5a83aa);
          color: #FFF;
        }
      
        &:active {
          @include reverse-highlight-gradient;
          color: #FFF;
        }
      
      }
    
			&:last-child {
				border: none;
        
				a {
					border-bottom-right-radius: 2px;
					border-bottom-left-radius: 2px;
				}
      }

      &:first-child {
				a {
					border-top-right-radius: 2px;
					border-top-left-radius: 2px;
				}
      }
    }
  }
}